<mat-card class="thumbnail mat-elevation-z10">
  <mat-card-header color="primary">
    <mat-card-title color="primary">{{ title }}</mat-card-title>
    <mat-card-subtitle>{{ subtitle }}</mat-card-subtitle>
  </mat-card-header>
  <!-- <div id="img"> -->
  <img matCardImage [src]="image" />
  <!-- </div> -->
  <mat-card-content>
    {{ content }}
  </mat-card-content>
  <mat-card-actions align="start">
    <button mat-raised-button color="primary" (click)="goTo(subtitle, 'web')">
      Web
    </button>
    <button
      mat-raised-button
      color="accent"
      *ngIf="frontend"
      value="frontend"
      (click)="goTo(subtitle, 'frontend')"
    >
      FEnd Code
    </button>
    <button
      mat-raised-button
      color="warn"
      *ngIf="backend"
      value="backend"
      (click)="goTo(subtitle, 'backend')"
    >
      BEnd Code
    </button>
  </mat-card-actions>
  <mat-card-footer>
    <mat-chip-list class="custom list">
      <mat-chip color="primary" selected *ngFor="let item of tech"
        >{{ item }}</mat-chip
      >
    </mat-chip-list>
  </mat-card-footer>
</mat-card>
