.thumbnail {
  //   width        : 300px;
  //   border       : 1px solid black;
  margin-bottom: 1rem;
  //   display: flex;
  //   flex-flow: column wrap;

}

.mat-card-footer {
  padding: .5rem;
}

.mat-chip-list-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  flex: 1, 2

}

.mat-chip.mat-standard-chip.mat-chip-selected.mat-primary {
  margin: 0 -10px -2px 0;
  transform: scale(.7);
}



// img {
//   width: 100%;
//   overflow: hidden;
//   display: flex;
//   justify-content: center;
// }

// .mat-card-image:first-child {
//   margin-top: 0;
// }

// .mat-card-header {
//   background-color: #1A237E;
//   color           : #FFE082;
//   margin-bottom: 1rem;
// }

// .mat-chip-list-wrapper{
//   margin: 0
// }
// .mat-chip.mat-standard-chip.mat-chip-selected.mat-primary {
//   color:#FFE082;

// }