<app-toolbar></app-toolbar>
<app-divider></app-divider>

<div
  class="component-wrapper"
  fxLayout="row wrap"
  fxLayoutAlign="center"
  fxLayoutGap="16px"
>
  <div
    fxFlex="20"
    fxFlex.xl="20"
    fxFlex.lg="20"
    fxFlex="30"
    fxFlex.sm="40"
    fxFlex.xs="40"
    *ngFor="let project of projects"
  >
    <app-card
      [image]="project.thumbnail"
      [content]="project.description"
      [tech]="project.tech"
      [title]="project.title"
      [frontend]="project.code.frontend"
      [backend]="project.code.backend"
      [subtitle]="project.subtitle"
    ></app-card>
  </div>
</div>
